<div class='payzone-d-results'>
	<div class='payzone-results-section'>
		<p class=''>Unable to process transaction</p>
		<p><label>Error:</label> {{ validate["Notification"]["Message"] | raw }}</p>
	</div>
</div>
