{% extends 'emails/base.email.html.twig' %}

{% set offerAcceptedLink = "" %}
{% set offerDeclinedLink = "" %}
{% set counterofferDeclinedLink = "" %}
{% block content %}
    <section>
        
    </section>
{% endblock %}