{% extends 'dashboard/base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sales</li>
            </ol>
        </nav>
    </div>
    <header role="heading">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <h1>
                        Sales
                    </h1>
                    <p class="hidden-xs">{% trans %}Description{% endtrans %}</p>
                </div>
            </div>
        </div>
    </header>

    <fieldset class="section">
        <div class="container" id="app">
            {% include 'includes/flashMessages.html.twig' %}
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a href="#tab-transactions" class="nav-link active" role="tab" data-toggle="tab">Transactions</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab-transactions">

                </div>
            </div>
        </div>
    </fieldset>
{% endblock %}

