{% extends 'emails/base.email.html.twig' %}

{% set newPassLink = absolute_url(path('frontend_forgot_password_new_password', { hash: hash})) %}

{% block content %}
    <section>
        <h3 style="font-family:Helvetica,sans-serif;color:#333333">
            Change Password
        </h3>
        <p>
            We received a request to reset the password associated with this e-mail address.
        </p>
        <p>
            Please, click the button below to create a new password
        </p>

        <a href="{{ newPassLink }}">
            {{ newPassLink }}
        </a>

        <div style="color:#8a6d3b;font-size:15px" bgcolor="#fcf8e3">
            <p>
                <b>Atenção:
                </b>Este é um e-mail automático. Favor não responder.
            </p>
        </div>
    </section>
{% endblock %}
